<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">

<f:be.pageRenderer
    includeJavaScriptModules="{0: '@pahy/ignitercf/backend-module.js'}"
    includeCssFiles="{0: 'EXT:ignitercf/Resources/Public/Css/backend-module.css'}"
/>

<div class="ignitercf-module">

    <!-- Extension disabled warning -->
    <f:if condition="{globalSettings.enabled} == 0">
        <div class="callout callout-danger">
            <div class="media">
                <div class="media-left">
                    <core:icon identifier="actions-ban" size="small" />
                </div>
                <div class="media-body">
                    <h4 class="callout-title"><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.extensionDisabled" /></h4>
                    <p class="callout-body">
                        <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.extensionDisabledMessage" />
                    </p>
                </div>
            </div>
        </div>
    </f:if>

    <!-- Site Configuration Status -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <core:icon identifier="actions-cog" size="small" />
                <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.siteStatus" />
            </h3>
            <f:if condition="{allConfigured}">
                <f:then>
                    <span class="badge badge-success">
                        <core:icon identifier="actions-check" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.allConfigured" />
                    </span>
                </f:then>
                <f:else>
                    <span class="badge" style="background: var(--ignitercf-orange); color: #fff;">
                        <core:icon identifier="actions-exclamation-triangle" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.setupRequired" />
                    </span>
                </f:else>
            </f:if>
        </div>
        <div class="panel-body">
            <f:if condition="{sitesStatus}">
                <f:then>
                    <f:for each="{sitesStatus}" as="site">
                        <f:render partial="Backend/SiteStatus" arguments="{site: site}" />
                    </f:for>
                </f:then>
                <f:else>
                    <p class="text-muted"><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.noSites" /></p>
                </f:else>
            </f:if>
        </div>
    </div>

    <!-- Global Settings -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <core:icon identifier="actions-system-extension-configure" size="small" />
                <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.globalSettings" />
            </h3>
        </div>
        <div class="panel-body">
            <p class="text-muted" style="margin-bottom: 1rem;">
                <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.configureHint" />
            </p>
            <dl class="ignitercf-settings">
                <dt><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.extensionEnabled" /></dt>
                <dd>
                    <f:if condition="{globalSettings.enabled}">
                        <f:then><span class="text-success"><core:icon identifier="actions-check" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.yes" /></span></f:then>
                        <f:else><span class="text-danger"><core:icon identifier="actions-ban" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.no" /></span></f:else>
                    </f:if>
                </dd>

                <dt><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.autoPurge" /></dt>
                <dd>
                    <f:if condition="{globalSettings.autoPurgeOnSave}">
                        <f:then><span class="text-success"><core:icon identifier="actions-check" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.yes" /></span></f:then>
                        <f:else><span class="text-muted"><core:icon identifier="actions-ban" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.no" /></span></f:else>
                    </f:if>
                </dd>

                <dt><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.purgeOnClearAll" /></dt>
                <dd>
                    <f:if condition="{globalSettings.purgeOnClearAll}">
                        <f:then><span class="text-success"><core:icon identifier="actions-check" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.yes" /></span></f:then>
                        <f:else><span class="text-muted"><core:icon identifier="actions-ban" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.no" /></span></f:else>
                    </f:if>
                </dd>

                <dt><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.middlewareEnabled" /></dt>
                <dd>
                    <f:if condition="{globalSettings.middlewareEnabled}">
                        <f:then><span class="text-success"><core:icon identifier="actions-check" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.yes" /></span></f:then>
                        <f:else><span class="text-muted"><core:icon identifier="actions-ban" size="small" /> <f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:value.no" /></span></f:else>
                    </f:if>
                </dd>

                <dt><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.logLevel" /></dt>
                <dd><code>{globalSettings.logLevel}</code></dd>

                <dt><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.logRetention" /></dt>
                <dd><f:translate key="LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:module.config.logRetentionValue" arguments="{0: globalSettings.logRetentionDays}" /></dd>
            </dl>
        </div>
    </div>

    <f:render partial="Backend/Footer" arguments="{version: version}" />

</div>

</f:section>

</html>
