services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Pahy\Ignitercf\:
    resource: '../Classes/*'

  # AJAX Controller (must be public for route dispatcher)
  Pahy\Ignitercf\Controller\CacheController:
    public: true

  # Scheduler Task Additional Field Providers (must be public for scheduler instantiation)
  Pahy\Ignitercf\Task\PurgeZoneTaskAdditionalFieldProvider:
    public: true

  Pahy\Ignitercf\Task\PurgePageTaskAdditionalFieldProvider:
    public: true

  Pahy\Ignitercf\Task\GenerateChartDataTaskAdditionalFieldProvider:
    public: true

  # Context-Menu Provider registration
  Pahy\Ignitercf\ContextMenu\ItemProvider:
    tags:
      - name: backend.contextmenu.itemprovider

  # CLI Commands
  Pahy\Ignitercf\Command\PurgeAllCommand:
    tags:
      - name: console.command
        command: 'ignitercf:purge:all'

  Pahy\Ignitercf\Command\PurgeZoneCommand:
    tags:
      - name: console.command
        command: 'ignitercf:purge:zone'

  Pahy\Ignitercf\Command\PurgePageCommand:
    tags:
      - name: console.command
        command: 'ignitercf:purge:page'

  Pahy\Ignitercf\Command\GenerateChartDataCommand:
    tags:
      - name: console.command
        command: 'ignitercf:chart:generate'

  Pahy\Ignitercf\Command\TestConnectionCommand:
    tags:
      - name: console.command
        command: 'ignitercf:test:connection'

  # Event Listener - Cache Dropdown (v12 compatible, v13 uses attribute)
  Pahy\Ignitercf\EventListener\ModifyClearCacheActionsEventListener:
    tags:
      - name: event.listener
        identifier: 'ignitercf/modify-clear-cache-actions'
        event: TYPO3\CMS\Backend\Backend\Event\ModifyClearCacheActionsEvent

  # Dashboard Widgets (only loaded when EXT:dashboard is installed)
  dashboard.widget.ignitercf.configurationStatus:
    class: Pahy\Ignitercf\Widgets\ConfigurationStatusWidget
    tags:
      - name: dashboard.widget
        identifier: 'ignitercf-configuration-status'
        groupNames: 'systemInfo'
        title: 'LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:widget.configurationStatus.title'
        description: 'LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:widget.configurationStatus.description'
        iconIdentifier: 'module-ignitercf'
        height: 'medium'
        width: 'small'

  dashboard.widget.ignitercf.purgeActivity:
    class: TYPO3\CMS\Dashboard\Widgets\BarChartWidget
    arguments:
      $dataProvider: '@Pahy\Ignitercf\Widgets\Provider\PurgeActivityChartDataProvider'
    tags:
      - name: dashboard.widget
        identifier: 'ignitercf-purge-activity'
        groupNames: 'systemInfo'
        title: 'LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:widget.purgeActivity.title'
        description: 'LLL:EXT:ignitercf/Resources/Private/Language/locallang.xlf:widget.purgeActivity.description'
        iconIdentifier: 'module-ignitercf'
        height: 'medium'
        width: 'medium'
